{{- partial "jumbotron.html" . }}

<style>.grid_episode_title > h3 {text-transform: initial;}</style>

<section class="episode-list"  style="padding-left: 15px;padding-right: 15px">

  <div class = "col episode-list-header">
    <h2 class = "episode-list-header">Upcoming Tanzu Tuesdays Episodes</h2>
  </div>

  <div class = "row">

        {{ $count := 0 }}
        {{ range where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ if lt (now.Unix) (add .Date.Unix 86400) }}
        {{ if lt $count 9 }}
        {{ $count = add $count 1 }}

        {{ $.Scratch.Set "episode" .File.BaseFileName }}
          <div class="col-md-4 grid_episode_col">
            <div class="episode-image-homepage">
              <a href="{{ .Permalink }}">
                  <img src="{{ .Params.episode_image | absURL }}" width="350" class="img-fluid" alt="{{ .Title }}" />



              </a>
            </div>
            <div class="grid_episode_detail">
              <a href="{{ .Permalink }}" class= "grid_episode_title"><h3>{{ title .Title }}</h3></a>
              <small class = "grid_episode_title">Streaming on <a href="https://twitch.tv/{{ .Params.Twitch }}">Twitch</a> at {{ dateFormat "Monday, Jan 2, 2006" .Date }}</small>
            </div>

          </div>
        {{ end }}
        {{ end }}
        {{ end }}


  </div>

</section>

<section class="episode-list"  style="padding-left: 15px;padding-right: 15px">

  <div class = "col episode-list-header">
    <h2 class = "episode-list-header">Recent Tanzu Tuesdays Episodes</h2>
  </div>

  <div class = "row">
        {{ $count := 0 }}
        {{ range where site.RegularPages "Type" "in" site.Params.mainSections }}
        {{ if ge (now.Unix) (.Date.Unix) }}
        {{ if lt $count 9 }}
        {{ $count = add $count 1 }}
        {{ $.Scratch.Set "episode" .File.BaseFileName }}
          <div class="col-md-4 grid_episode_col">
            <div class="episode-image-homepage">
              <a href="{{ .Permalink }}">
                  <img src="{{ .Params.episode_image | absURL }}"  width="350" class="img-fluid" alt="{{ .Title }}" />



              </a>
            </div>
            <div class="grid_episode_detail">
              <a href="{{ .Permalink }}" class= "grid_episode_title"><h3>{{ title .Title }}</h3></a>
              <small class = "grid_episode_title">Streamed {{ dateFormat "Monday, Jan 2, 2006" .Date }}</small>
              {{- with .Params.YouTube -}}
              <p>Watch on <a href="https://www.youtube.com/watch?v={{ . }}">YouTube</a>
              </p>
              {{- end -}}
            </div>

          </div>
        {{ end }}
        {{ end }}
        {{ end }}


  </div>

</section>

</div>
</div>
